#approval-top-tab .btn.m-btn--custom .m-badge--gray {
    color: rgb(153, 153, 153) !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
#approval-top-tab .btn.m-btn--custom:hover .m-badge--gray {
    color: rgb(255, 255, 255) !important;
}
div.m-btn--custom
{
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc!important;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon{
    color:  #0056a3;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon > i:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #0056a3), color-stop(50%, #0056a3), color-stop(75%, #0056a3), to(#0056a3));
    background: linear-gradient(180deg, #0056a3 25%, #0056a3 50%, #0056a3 75%, #0056a3 100%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.m-brand .m-brand__tools .m-brand__toggler span::before, .m-brand .m-brand__tools .m-brand__toggler span::after{
    background-color: #fff;

}
#m_table_1 thead tr {
    background: #ebebeb;
}
.m-portlet .m-portlet__head{
    height: 3.1rem;
}
.custom-navigation-btn{
    width:20px!important;
    height: 20px!important;
}
.table-hover {
    cursor: pointer;
}
.tt-dataset.tt-dataset-best-pictures{
    background-color: #fff;
}