.nedis-blue{
background-color: #1D3374!important ;
color: #d9d8e8 ;
}
.nedis-blue a:active,.nedis-blue a:hover{
    background-color:  #f2f5f8 ;
    color: #1D3374 ;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon>i:before {
    /* background: #eee; */
    background: #A8A8A7;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tt-menu {
    width: 100%;
    background: #d9d8e8;
    color: #1D3374 ;
    padding: 5px;
}

.table-hover {
    cursor: pointer;
}

.m-portlet .m-portlet__body {
    padding: 0 2.2rem;
}
.dataTables_paginate{
    float: left;
}
.twitter-typeahead{
    width:100%;
}
.tt-dataset.tt-dataset-best-pictures div {
    padding: 5px;
    width: 100%;
}
a.top-tabs:hover {
    text-decoration: none;
}
.tt-input{
    position: relative;
    vertical-align: top;
    background-color: #1D3374!important;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #d9d8e8;
    color: #d9d8e8;
}
#indecators span.m-badge {
    margin-left: 5px;
}